@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: #3b3b3b;
  border-radius: 0;
  border-bottom: 5px solid #6b73ca;
  margin-bottom: 2%;
}

.lead {
  font-weight: 500;
}

.header {
  font-size: xx-large;
  padding-top: 10px;
}

.description {
  white-space: pre-wrap;
}

.row {
  height: 70px;
  border-top: 4px solid white;
}

.userTextBox {
  display: flex;
  padding-top: 10px;
  font-weight: 500;
  border: none;
}

.time-block {
  color: black;
  display: flex;
  align-items: center;
  padding-left: 9%;
  background-color: #c0e7ff;
  border-radius: 10px 0px 0px 10px;
  justify-content: flex-end;
}

/* JS will judge which one is past/present/future */
.past {
  background-color: #acacac;
  color: black;
}

.present {
  background-color: #d5ff61;
  color: black;
}

.future {
  background-color: #b877dd;
  color: black;
}

.saveBtn {
  background-color: #06d599;
  color: white;
  width: 7%;
  border-radius: 0px 10px 10px 0px;
  border: none;
}

.saveBtn:hover {
  font-size: 20px;
  color: black
}