@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1;
}

#inputArea {
  background: #e3e3e3;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
}

.title {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 5px solid #6b73ca;
  margin-top: 2%;
  margin-bottom: 2%;
}

.description {
  white-space: pre-wrap;
}

.row {
  white-space: pre-line;
  height: 80px;
  border-top: 4px solid white;
}

/* JS will judge which one is past/present/future */
.past {
  background-color: #acacac;
  color: white;
}

.present {
  background-color: #d5ff61;
  color: white;
}

.future {
  background-color: #b877dd;
  color: white;
}

.saveBtn {
  background-color: #06d599;
  color: white;
}

.saveBtn:hover {
  font-size: 20px;
  background-color: #06d599;
}

.time-of-day {
  text-align: end;
  border-radius: 15px;
}

.hour {
  background-color: #46dbe8;
  color: #000000;
  font-weight: 500;
  padding-left: 0;
}